output/*
!output/.gitkeep

cache

notebooks
old_notebooks
configs/platform.yaml
cache

artifacts
baselines

data/gnina

lightning_logs/*
!lightning_logs/.gitkeep

wandb/*
!wandb/.gitkeep

rec-pmf/*
!rec-pmf/.gitkeep

infra
db
